/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THEME */
:root {
  --white: #ffffff;
  --primary: #4f46e5;
  --dark: #0f172a;
  --text: #1e293b;
  --muted: #64748b;
  --bg-light: #f8fafc;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--white);
  color: var(--text);
  line-height: 1.6;
}
