.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #e5e7eb;
  z-index: 1000;
}


.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
}


.links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text);
}

.links a:hover {
  color: var(--primary);
}
.menuBtn {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menuBtn span {
  width: 24px;
  height: 2px;
  background: #111;
  transition: 0.3s;
}


.menuBtn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menuBtn.active span:nth-child(2) {
  opacity: 0;
}
.menuBtn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 768px) {
  .nav {
    padding: 0 16px;
  }

  .menuBtn {
    display: flex;
  }

  .links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    gap: 20px;
    padding: 24px 0;
    align-items: center;

    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .links.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
