.about {
  padding: 100px 64px;
  background: var(--bg-light);
}

.content {
  max-width: 700px;
}

.about h2 {
  font-size: 36px;
  font-weight: 800;
}

.about p {
  margin-top: 20px;
  font-size: 18px;
  color: var(--muted);
}
